In [3]:
! pip install mysql-connector-python pandas sqlalchemy

Requirement already satisfied: mysql-connector-python in c:\users\msii\anaconda3\lib\site-packages (9.4.0)
Requirement already satisfied: pandas in c:\users\msii\appdata\roaming\python\python313\site-packages (2.2.3)
Requirement already satisfied: sqlalchemy in c:\users\msii\anaconda3\lib\site-packages (2.0.39)
Requirement already satisfied: numpy>=1.26.0 in c:\users\msii\appdata\roaming\python\python313\site-packages (from pandas) (2.2.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\msii\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\msii\appdata\roaming\python\python313\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\msii\appdata\roaming\python\python313\site-packages (from pandas) (2025.2)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\msii\anaconda3\lib\site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\msii\appdata\roaming\python\python313\site-packages (from sqlalchemy) (4.15.0)
Requirement already satisfied: six>=1.5 in c:\users\msii\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 25.0.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
import pandas as pd
from sqlalchemy import create_engine

In [8]:
engine = create_engine("mysql+mysqlconnector://root:@127.0.0.1:3307/project1")
df = pd.read_sql("SELECT * FROM community", engine)
df.head()

   id              name                        email           password
0   1               xxy                xyz@gmail.com       xyzzxy123321
1   5      vansh bansal  vanshbansal101010@gmail.com               9867
2   8  registrationData  vanshbansal101010@gmail.com  mjunbgh-98&&*(*&*
3   9   Himanshu Sharma  himanshusharma123@gmail.com              12345
4  10           unknown            unknown@gmail.com          iewwnw dw